h3 {
  text-align: center;
  front-style: italic;
}

h1 {
  text-shadow: 2.5px 2.5px rgb(255, 51, 190);
}

.skill-header {
  text-align: left;
}

.skill-container {
  border: solid lightcoral;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 10px;
}

.circle {
  border-radius: 50%;
}
